@import url(./assets/css/reset.css);
@import url(./assets/css/mobile.css);
@import url(./assets/css/desktop.css);

:root {
    /* colors */
    --white: hsl(0,0%,100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);

    /* fonts */
    --outfit:'Outfit', sem serifa;
}

html{
    font-family: var(--outfit);
    background-color: var(--light-gray);
}
